/*
 * Copyright (c) 2018 Jan Van Winkel <jan.van_winkel@dxplore.eu>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&spi1 {
		cs-gpios = <&gpioa 4 (GPIO_ACTIVE_LOW)>;
	ssd1306@0 {
		compatible = "solomon,ssd1306fb";
		reg = <0x0>;
		label = "SSD1306";
		spi-max-frequency = <10000000>;
		width = <128>;
		height = <64>;
		segment-offset = <0>;
		page-offset = <0>;
		display-offset = <0>;
		multiplex-ratio = <63>;
		segment-remap;
		com-invdir;
		prechargep = <0x22>;
		data_cmd-gpios = <&gpioa 3 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpioa 2 GPIO_ACTIVE_LOW>;
	};
};
